<div class="container" [ngClass]="isActive?'active':''">
  <div class="card"></div>
  <div class="card">
    <button class="close-icon"type="button" mat-icon-button (click)="cancel()">
        <mat-icon>close</mat-icon>
    </button>
    <h1 class="title">Login</h1>
    <form>
      <div class="input-container">
        <input
          type="text"
          id="userInput"
          required="required"
          #signInUserName
          autocomplete="on"/>
        <label for="user-name">Email Address</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input #signInPassword type="password" required="required" autocomplete="on" />
        <button type="button"
                mat-icon-button
                class="eyeIcon signin-visiblity-toggle">
          <mat-icon (click)="toggleVisiblity(signInPassword, $event)">
            visibility
          </mat-icon>
        </button>
        <label for="password">Password</label>
        <div class="bar"></div>
      </div>
      <p class="google-text">Or Login using</p>
      <div class="google-icon">
        <button class="google-button" type="button" (click)="googleAuth()" >
          <ion-icon name="logo-google"></ion-icon>
        </button>
      </div>
      <div class="button-container">
        <button type="button"
                (click)="signIn(signInUserName.value, signInPassword.value)">
          <span>Go</span>
        </button>
      </div>
      <div class="footer">
        <a (click)="forgotPassword(signInUserName.value)">
          Forgot your password?
        </a>
      </div>
    </form>
  </div>
  <div class="card alt">
    <div class="toggle" (click)="toggleActiveClass()"></div>
    <h1 class="title">
      Register
      <div class="close" (click)="toggleActiveClass()"></div>
    </h1>
    <form>
      <div class="input-container">
        <input type="text" required="required" #signUpUserName />
        <label for="user-name">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input #signUpPassword type="password" required="required" />
        <button type="button"
                mat-icon-button
                class="eyeIcon signup-visiblity-toggle">
        </button>
        <label for="password">Password</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" required="required" #signUpRepeatPassword />
         <button type="button"
                mat-icon-button
                class="eyeIcon signup-visiblity-toggle">
          <mat-icon (click)="toggleVisiblity(signUpRepeatPassword, $event)">
            visibility
          </mat-icon>
        </button>
        <label for="repeat-password">Repeat Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button type="button"
                (click)="signUp(signUpPassword.value,signUpRepeatPassword.value,signUpUserName.value)">
          <span>Next</span>
        </button>
      </div>
    </form>
  </div>
</div>

<style>
  /* ----form------- */
  .form-modal .modal-content {
    background-color: transparent;
  }

  .google-button {
      background-color: transparent;
  }

  .container {
    position: relative;
    max-width: 460px;
    width: 100%;
    margin: 0 auto 100px;
    padding: 0px;
  }
  .container.active .card:first-child {
    background: #f2f2f2;
    margin: 0 15px;
  }
  .container.active .card:nth-child(2) {
    background: #fafafa;
    margin: 0 10px;
  }
  .container.active .card.alt {
    top: 20px;
    right: 0;
    width: 100%;
    min-width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 60px 0 40px;
    overflow: hidden;
  }
  .container.active .card.alt .toggle {
    position: absolute;
    top: 40px;
    right: -70px;
    box-shadow: none;
    transform: scale(10);
    transition: transform 0.3s ease;
  }
  .container.active .card.alt .toggle:before {
    content: "";
  }
  .container.active .card.alt .title,
  .container.active .card.alt .input-container,
  .container.active .card.alt .button-container {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease;
  }
  .container.active .card.alt .title {
    transition-delay: 0.3s;
  }
  .container.active .card.alt .input-container {
    transition-delay: 0.4s;
  }
  .container.active .card.alt .input-container:nth-child(2) {
    transition-delay: 0.5s;
  }
  .container.active .card.alt .input-container:nth-child(3) {
    transition-delay: 0.6s;
  }
  .container.active .card.alt .button-container {
    transition-delay: 0.7s;
  }
  .container.active .signin-visiblity-toggle {
    display: none;
  }

  /* Card */
  .card {
    position: relative;
    background: #ffffff;
    border-radius: 5px;
    padding: 60px 0 40px 0;
    box-sizing: border-box;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
    transition: 0.3s ease;
  }
  .card:first-child {
    background: #fafafa;
    height: 10px;
    border-radius: 5px 5px 0 0;
    margin: 0 10px;
    padding: 0;
  }
  .card .title {
    position: relative;
    z-index: 1;
    border-left: 5px solid #f55c44;
    margin: 0 0 35px;
    padding: 10px 0 10px 50px;
    color: #f55c44;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Nunito';
    text-transform: uppercase;
  }
  .card .input-container {
    position: relative;
    margin: 0 60px 50px;
  }
  .card .input-container input {
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 60px;
    border: 0;
    color: #212121;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Nunito';
  }
  .card .input-container input:focus ~ label {
    color: #9d9d9d;
    transform: translate(-12%, -50%) scale(0.75);
  }
  .card .input-container input:focus ~ .bar:before,
  .card .input-container input:focus ~ .bar:after {
    width: 50%;
  }
  .card .input-container input:valid ~ label {
    color: #9d9d9d;
    transform: translate(-12%, -50%) scale(0.75);
  }
  .card .input-container label {
    position: absolute;
    top: 0;
    left: 0;
    color: #757575;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Nunito';
    margin-top: -10px;
    line-height: 60px;
    transition: 0.2s ease;
  }
  .card .input-container .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #757575;
    width: 100%;
    height: 1px;
  }
  .card .input-container .bar:before,
  .card .input-container .bar:after {
    content: "";
    position: absolute;
    background: #f55c44;
    width: 0;
    height: 2px;
    transition: 0.2s ease;
  }
  .card .input-container .bar:before {
    left: 50%;
  }
  .card .input-container .bar:after {
    right: 50%;
  }
  .card .button-container {
    margin: 0 60px;
    text-align: center;
  }
  .card .button-container button {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    width: 140px;
    border: 2px solid #e3e3e3;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Nunito';
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.3s ease;
    margin-top: 20%;
  }
  .card .button-container button span {
    position: relative;
    z-index: 1;
    color: #ddd;
    transition: 0.3s ease;
  }
  .card .button-container button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #f55c44;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    transition: 0.3s ease;
  }
  .card .button-container button:hover,
  .card .button-container button:active,
  .card .button-container button:focus {
    border-color: #f55c44;
  }
  .card .button-container button:hover span,
  .card .button-container button:active span,
  .card .button-container button:focus span {
    color: #f55c44;
  }
  .card .button-container button:active span,
  .card .button-container button:focus span {
    color: #ffffff;
  }
  .card .button-container button:active:before,
  .card .button-container button:focus:before {
    opacity: 1;
    transform: scale(10);
  }
  .card .footer {
    margin: 40px 0 0;
    color: #d3d3d3;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Nunito';
    text-align: center;
  }
  .card .footer a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s ease;
    cursor: pointer;
  }
  .card .footer a:hover {
    color: #bababa;
  }
  .card.alt {
    position: absolute;
    top: 40px;
    right: -70px;
    z-index: 10;
    width: 140px;
    height: 140px;
    background: none;
    border-radius: 100%;
    box-shadow: none;
    padding: 0;
    transition: 0.3s ease;
  }
  .card.alt .toggle {
    position: relative;
    background: #f55c44;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #ffffff;
    font-size: 58px;
    font-family: 'Nunito';
    line-height: 140px;
    text-align: center;
    cursor: pointer;
  }
  .card.alt .toggle:before {
    content: "";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  }

  .card.alt .title,
  .card.alt .input-container,
  .card.alt .button-container {
    left: 100px;
    opacity: 0;
    visibility: hidden;
  }
  .card.alt .title {
    position: relative;
    border-color: #ffffff;
    color: #ffffff;
  }
  .card.alt .title .close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 60px;
    display: inline;
    color: #ffffff;
    font-size: 58px;
    font-weight: 400;
  }
  .card.alt .title .close:before {
    content: "×";
  }
  .card.alt .input-container input {
    color: #ffffff;
  }
  .card.alt .input-container input:focus ~ label {
    color: #ffffff;
  }
  .card.alt .input-container input:focus ~ .bar:before,
  .card.alt .input-container input:focus ~ .bar:after {
    background: #ffffff;
  }
  .card.alt .input-container input:valid ~ label {
    color: #ffffff;
  }
  .card.alt .input-container label {
    color: rgba(255, 255, 255, 0.8);
  }
  .card.alt .input-container .bar {
    background: rgba(255, 255, 255, 0.8);
  }
  .card.alt .button-container button {
    width: 70%;
    background: #ffffff;
    border-color: #ffffff;
  }
  .card.alt .button-container button span {
    color: #f55c44;
  }
  .card.alt .button-container button:hover {
    background: rgba(255, 255, 255, 0.9);
  }
  .card.alt .button-container button:active:before,
  .card.alt .button-container button:focus:before {
    display: none;
  }
  .eyeIcon {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 0px;
    color: #f55c44;
    cursor: pointer;
    z-index: 999;
  }
  .signup-visiblity-toggle {
    color: white !important;
  }
  .close-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #f55c44;
  }
  .google-icon {
    position: absolute;
    left: 45%;
    right: 45%;
    top: 63%;
  }
  .google-icon button ion-icon {
    font-size: 30px;
    font-family: 'Nunito';
    color: #f55c44;
    padding: 2px;
    border: 3px #f55c44 solid;
    border-radius: 50%;
  }
  .google-icon button ion-icon:hover {
    animation: pulse;
    animation-duration: 0.6s;
  }
  .google-text {
    position: absolute;
    left: 40%;
    right: 30%;
    top: 58%;
    font-family: 'Nunito';
  }
  .modal-dialog {
    padding: 0px;
  }

  /* Keyframes */
  @-webkit-keyframes buttonFadeInUp {
    0% {
      bottom: 30px;
      opacity: 0;
    }
  }
  @keyframes buttonFadeInUp {
    0% {
      bottom: 30px;
      opacity: 0;
    }
  }
</style>
