<div class="card profile-card">
    <div class="ds-top">
      <button type="button" mat-icon-button (click)="cancel()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="avatar-holder">
      <img src="{{ authService.userData.photoURL ? authService.userData.photoURL : '../assets/images/dummy-user.png' }}"
           alt="user"/>
    </div>
    <div class="name">
      <p [innerText]="authService.userData.displayName"></p>
      <h6 title="patients">
        <ion-icon class="heart-icon" name="heart"></ion-icon>
      </h6>
    </div>
    <div class="ds-info">
      <div class="button" (click)="authService.signOut()">
        <a href="#" class="btn">
          Log Out
          <ion-icon class="log-out-icon" name="log-out"></ion-icon>
        </a>
      </div>
    </div>
  </div>
<style>
  /* Profile-card */

/* *{margin:0;padding:0;box-sizing:border-box}body,html{width:100%;height:100%}body{background:#202020;font-family:Krub,sans-serif} */

.profile-modal .modal-content {
  background: transparent;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}
.card.profile-card {
  z-index: 999;
  position: float;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  background: rgb(78, 78, 78);
  overflow: hidden;
}
.card.profile-card .ds-top {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  width: 300px;
  height: 80px;
  background: #f55c44;
  animation: dsTop 1.5s;
}
.card.profile-card .ds-top button {
  position: absolute;
  left: 10px;
  top: 10px;
}
.card.profile-card .avatar-holder {
  position: absolute;
  margin: auto;
  top: 40px;
  right: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #151515, inset 0 0 0 5px #000, inset 0 0 0 5px #000,
    inset 0 0 0 5px #000, inset 0 0 0 5px #000;
  background: #fff;
  overflow: hidden;
  animation: mvTop 1.5s;
}
.card.profile-card .avatar-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card.profile-card .name {
  position: absolute;
  margin: auto;
  top: -60px;
  right: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 40px;
  text-align: center;
  animation: fadeIn 2s ease-in;
}
.card.profile-card .name p {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}
.card.profile-card .name p:hover {
  text-decoration: underline;
  color: #f55c44;
}
.card.profile-card .name h6 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  width: 40px;
}
.card.profile-card .button {
  position: absolute;
  margin: auto;
  padding: 8px;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 40px;
  text-align: center;
  animation: fadeIn 2s ease-in;
  outline: 0;
}
.card.profile-card .button a {
  padding: 5px 20px;
  border-radius: 10px;
  color: #fff;
  letter-spacing: 0.05em;
  text-decoration: none;
  font-size: 10px;
  transition: all 1s;
}
.card.profile-card .button a:hover {
  color: #fff;
  background: #f55c44;
}
.card.profile-card .ds-info {
  position: absolute;
  margin: auto;
  top: 120px;
  bottom: 0;
  right: 0;
  left: 0;
  width: inherit;
  height: 40px;
  display: flex;
}
.card.profile-card .ds-info .ds:nth-of-type(2) {
  animation-delay: 0.5s;
}
.card.profile-card .ds-info .ds:nth-of-type(1) {
  animation-delay: 1s;
}
.heart-icon {
  font-size: 15px;
  position: absolute;
}
.log-out-icon {
  font-size: 12px;
  top: 37%;
  position: absolute;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mvTop {
  0% {
    top: -150px;
  }
  100% {
    top: 40px;
  }
}
@keyframes dsTop {
  0% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}

</style>
