      <div class="form-content">
        <div class="form-items">
          <h3>Add Patient</h3>
          <p>Fill in the data below.</p>
          <form class="g-3 needs-validation" novalidate [formGroup]="patientForm" (ngSubmit)="onSubmit()">

            <div class="col-md-12">
              <label for="name" class="form-label">Full Name</label>
              <input class="form-control" id="name" type="text" name="patientName" placeholder="Full Name" required formControlName="patientName" >
              <div class="invalid my-1 mx-2" *ngIf="patientName.invalid && patientName.touched">
                Please enter valid name
              </div>
            </div>

            <div class="col-md-12 mt-3">
              <label>Gender</label>
               <select class="form-control" name="gender" required formControlName="gender" >
                <option value="1">Male</option>
                <option value="0">Female</option>
              </select>
            </div>

            <div class="col-md-12 mt-3">
              <label>Disease</label>
              <input class="form-control" type="text" name="disease" placeholder="If any other disease"  formControlName="disease" >
              <small class="form-text text-muted">Optional</small>
            </div>

            <div class="col-md-12 mt-3">
              <label>Symptoms</label>
              <input class="form-control" type="text" name="symptoms" placeholder="symptoms"  formControlName="symptoms" >
              <small class="form-text text-muted">Optional</small>
            </div>


            <div class="row">
              <div class="col-md-4">
                <div class="col-md-12 mt-3">
                  <label>Age</label>
                  <input  class="form-control my-2" type="number" name="age" min="1" max="120" placeholder="Age" required formControlName="age" >
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12 mt-4">
                  <div class="form-group">
                    <label>Chest Pain Type</label>
                    <select class="form-control"  formControlName="chestPainType">
                      <option value="1">Typical Angina</option>
                      <option value="2">Atypical Angina</option>
                      <option value="3">Non-Anginal Pain</option>
                      <option value="4">Asymptomatic</option>
                    </select>
                    <small class="form-text text-muted">Optional</small>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12 mt-4">
                  <label>Resting Blood Pressure</label>
                  <input class="form-control" type="number" name="resting-bp" placeholder="Resting blood pressure in mmhg"  formControlName="restingBp" >
                  <small class="form-text text-muted">Optional</small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12 mt-2">
                  <label>Cholestrol</label>
                  <input class="form-control" type="number" name="cholesterol" placeholder="Cholesterol in mg/dl "   formControlName="cholesterol">
                  <small class="form-text text-muted">Optional</small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12 mt-2">
                  <label>Fasting Blood Suger</label>
                  <input class="form-control" type="number"  placeholder="Fasting blood Suger in mg/dl"  formControlName="fastingBp" >
                  <small class="form-text text-muted">Optional</small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12 mt-2">
                  <label>Resting ECG</label>
                  <select class="form-control" formControlName="restingEcg">
                    <option value="0">Normal</option>
                    <option value="1"> Having ST-T Wave Abnormality</option>
                    <option value="2"> Showing  Left Ventricular Hypertrophy</option>
                  </select>
                  <small class="form-text text-muted">Optional</small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12 mt-2">
                  <label>Maximum Heart Rate</label>
                  <input class="form-control" type="number" name="name" placeholder="Max heart rate"  formControlName="maxHeartRate" >
                  <small class="form-text text-muted">Optional</small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12 mt-2">
                  <label>Exercise Induced Angina</label>
                  <select name="" id="" class="form-control" formControlName="exerciseInducedAngina">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                  <small class="form-text text-muted">Optional</small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12 mt-2">
                  <label>ST Ddepression(Old Peak)</label>
                  <input class="form-control" type="text" name="st-depression" placeholder="Depression during exercise relative to rest"   formControlName="exerciseInducedDepression">
                  <small class="form-text text-muted">Optional</small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12 mt-2">
                  <label>ST Slope</label>
                  <select name="st-slope" class="form-control" formControlName="slopeOfStSegment">
                    <option value="1">Up Sloping</option>
                    <option value="2">Flat</option>
                    <option value="3">Down Sloping</option>
                  </select>
                  <small class="form-text text-muted">Optional</small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12 mt-2">
                  <label>Major Vessels</label>
                  <input class="form-control" type="number" name="major-vessels" placeholder="Number of major vessels"  formControlName="majorVessels">
                  <small class="form-text text-muted">Optional</small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12 mt-2">
                  <label>Thalassemia</label>
                  <input class="form-control" type="number" name="thalassemia" min="1" max="7" placeholder="Thalassemia number"  formControlName="thalassemia" >
                  <small class="form-text text-muted">Optional</small>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 offset-md-5  my-2">
                <button class="btn btn-primary" (click)="addMedicine()">Add Medicine</button>
                </div>
              </div>

                <div class="col-md-12" *ngFor="let med of medicine.controls; let i=index">
                  <div [formGroup]="med" class="medicine-form" >
                  <div class="col-md-4 mx-1 mt-3">
                    <label>{{"Medicine "+(i+1)+" Name"}}</label>
                    <input type="text" name="" formControlName="medicineName">
                    <small class="form-text text-muted">Optional</small>
                  </div>
                  <div class="col-md-4 mx-1 mt-3">
                    <label>Dose</label>
                    <input type="number" name="" formControlName="dose">
                    <small class="form-text text-muted">Optional</small>
                  </div>
                  <div class="col-md-4 mx-3 mt-3">
                    <label>Remarks(if any)</label>
                    <input type="text" name="" formControlName="remarks">
                    <small class="form-text text-muted">Optional</small>
                  </div>
                </div>
              </div>

              <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox"  id="invalidCheck" required formControlName="confirm">
                <label class="form-check-label">I confirm that all data are correct</label>
                <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
              </div>
            </div>
            <div class="form-button mt-3">
              <button [disabled]="!patientForm.valid" id="submit" type="submit" class="btn btn-primary">Add</button>
            </div>
          </form>
        </div>
      </div>

