<div>
  <div class="{{ formClass }}">
    <div class="card"></div>
    <div class="card">
      <h1 class="title">Login</h1>
      <form>
        <div class="input-container">
          <input type="text" id="userInput" required="required" />
          <label for="user-name">Username</label>
          <div class="bar"></div>
        </div>
        <div class="input-container">
          <input #signInPassword type="password" required="required" />
          <button type="button" mat-icon-button class="eyeIcon"><mat-icon  (click)="toggleVisiblity(signInPassword)">remove_red_eye</mat-icon></button>
          <label for="password">Password</label>
          <div class="bar"></div>
        </div>
        <div class="button-container">
          <button type=submit><span>Go</span></button>
        </div>
        <div class="footer"><a href="#">Forgot your password?</a></div>
      </form>
    </div>
    <div class="card alt">
      <div class="toggle" (click)="addActiveClass()"></div>
      <h1 class="title">
        Register
        <div class="close" (click)="removeActiveClass()"></div>
      </h1>
      <form>
        <div class="input-container">
          <input type="text" required="required" />
          <label for="user-name">Username</label>
          <div class="bar"></div>
        </div>
        <div class="input-container">
          <input type="password" required="required" />
          <label for="password">Password</label>
          <!-- <fa-icon [icon]="['fas', 'eye']"></fa-icon> -->
          <!-- Unable to add upper tag -->
          <div class="bar"></div>
        </div>
        <div class="input-container">
          <input type="password" required="required" />
          <label for="repeat-password">Repeat Password</label>
          <div class="bar"></div>
        </div>
        <div class="button-container">
          <button><span>Next</span></button>
        </div>
      </form>
    </div>
  </div>
</div>
