<div class="about-section">
  <img class="image" src="../../assets/images/heart.svg"/>
  <div class="inner-container">
    <h1>About Us</h1>
    <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Doloribus velit ducimus, enim inventore earum, eligendi
        nostrum pariatur necessitatibus eius dicta a voluptates
        sit deleniti autem error eos totam nisi neque voluptates
        sit deleniti autem error eos totam nisi neque.
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Doloribus velit ducimus, enim inventore earum, eligendi
        nostrum pariatur necessitatibus eius dicta a voluptates
        sit deleniti autem error eos totam nisi neque voluptates
        sit deleniti autem error eos totam nisi neque.
    </p>
  </div>
 </div>
<style>

  h1 {
    font-family: 'Nunito';
  }


  .image {
    height: 500px;
    width: 500px
  }
  .about-section{
      background-size: 40%;
      background-color: #fdfdfd;
      overflow: hidden;
      padding: 10px 0;
  }

  .inner-container{
      width: 55%;
      float: right;
      background-color: #fdfdfd;
      padding: 150px;
  }

  .inner-container h1{
      margin-bottom: 30px;
      font-size: 30px;
      font-weight: 900;
  }

  .text{
      font-size: 13px;
      color: #545454;
      line-height: 30px;
      text-align: justify;
      margin-bottom: 40px;
      font-family: 'Nunito';
  }

  @media screen and (max-width:1200px){
      .inner-container{
          padding: 80px;
      }
  }

  @media screen and (max-width:1000px){
      .about-section{
          background-size: 100%;
          padding: 100px 40px;
      }
      .inner-container{
          width: 100%;
      }
  }

  @media screen and (max-width:600px){
      .about-section{
          padding: 0;
      }
      .inner-container{
          padding: 60px;
      }
  }
</style>
