<!-- Navbar -->
<nav>
  <ul class="menu" [ngClass]="isMenuActive ? 'active' : ''">
    <li class="logo">
      <a href="#"><img src="../assets/images/logo.png" alt="logo" /></a>
    </li>
    <li class="item" routerLinkActive="selected">
      <a routerLink="home">Home</a>
    </li>
    <li class="item" routerLinkActive="selected">
      <a routerLink="prediction">Prediction</a>
    </li>
    <li class="item" routerLinkActive="selected">
      <a routerLink="about">About</a>
    </li>
    
    <li class="item" routerLinkActive="selected">
      <a routerLink="dashboard">Dashboard</a>
    </li>

    <li class="item button" (click)="open(content)"><a>Log In</a></li>
    <li class="toggle">
      <!-- <i #menuIcon class="fas fa-bars"></i> -->
      <button type="button" mat-icon-button>
        <mat-icon (click)="toggleMenu($event)" class="toggle-icon" #menuIcon
          >menu</mat-icon
        >
      </button>
    </li>
  </ul>
</nav>

<!-- Form -->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="container" [ngClass]="isActive ? 'active' : ''">
    <div class="card"></div>
    <div class="card">
      <button
        type="button"
        mat-icon-button
        class="close-icon"
        (click)="d('Cross click')"
      >
        <mat-icon>close</mat-icon>
      </button>

      <h1 class="title">Login</h1>
      <form>
        <div class="input-container">
          <input type="text" id="userInput" required="required" />
          <label for="user-name">Username</label>
          <div class="bar"></div>
        </div>
        <div class="input-container">
          <input #signInPassword type="password" required="required" />
          <button type="button" mat-icon-button class="eyeIcon">
            <mat-icon (click)="toggleVisiblity(signInPassword, $event)"
              >visibility</mat-icon
            >
          </button>
          <label for="password">Password</label>
          <div class="bar"></div>
        </div>
        <div class="button-container">
          <button type="submit"><span>Go</span></button>
        </div>
        <div class="footer"><a href="#">Forgot your password?</a></div>
      </form>
    </div>
    <div class="card alt">
      <div class="toggle" (click)="toggleActiveClass()"></div>
      <h1 class="title">
        Register
        <div class="close" (click)="toggleActiveClass()"></div>
      </h1>
      <form>
        <div class="input-container">
          <input type="text" required="required" />
          <label for="user-name">Username</label>
          <div class="bar"></div>
        </div>
        <div class="input-container">
          <input #signUpPassword type="password" required="required" />
          <button
            type="button"
            mat-icon-button
            class="eyeIcon signup-visiblity-toggle"
          >
            <mat-icon (click)="toggleVisiblity(signUpPassword, $event)"
              >visibility</mat-icon
            >
          </button>
          <label for="password">Password</label>
          <div class="bar"></div>
        </div>
        <div class="input-container">
          <input type="password" required="required" />
          <label for="repeat-password">Repeat Password</label>
          <div class="bar"></div>
        </div>
        <div class="button-container">
          <button><span>Next</span></button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<!-- Form End -->

<section>
  <router-outlet> </router-outlet>
</section>

<footer>footer</footer>
<style>
  ul {
    display: inline-flex;
  }
</style>
