

    <div class="auth-block">
      <h3>Thank You for Registering</h3>
      <hr>

      <div class="form-group" *ngIf="authService.userData as user">
        <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
      </div>
      <div class="redirectToLogin">
      <span>Go back to?</span><button class="redirect" (click)='openLoginModal()'><strong>Sign in</strong></button>
    </div>
      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="form-group">
        <button type="button" class="btn btnPrimary" (click)="authService.sendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>
      </div>

    </div>



