<div class="row slide__box">
  <div class="col-md-6">
    <div class="text__wrapper">
       <h1 class=main__title>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus officiis, id maxime asperiores commodi, nisi placeat fugit, totam vero consectetur possimus mollitia quisquam nihil ea. Quisquam voluptas assumenda neque dicta!</p>
       <button class="btn btn-primary text__btn">Learn More</button>
    </div>   
  </div>
  <div class="col-md-6">
      <div class="img__wrapper">
        <img src="../../../assets/images/home.svg" alt="">
      </div>
  </div>
</div>

<style>
  .text__wrapper{
    width:20rem;
    margin:170px auto;
    animation: fade 0.8s;
  }

  .img__wrapper img{
    height:400px;
    animation: grow 0.8s;
    margin:auto;
  }
  .img__wrapper{
    margin: 100px auto;
  }
  .text__btn{
    padding:20px;
    background-color: #f55c44;
    margin-left: 25%;
  }
  .text__wrapper h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:30px;
    font-weight:900;
  }
  .text__wrapper p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:15px;
    font-weight:500;
  }
  .slide__box{
    display: flex !important;
  }
  @keyframes fade {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
  }
  
  @keyframes grow {
    from{height:300px;}
    to{height:400px;}
  }
  @keyframes resposive-grow{
    from{height:210px;}
    to{height:300px;}
  }
  
  @media screen and (max-width:600px){
   
    .slide__box{
      flex-direction: column-reverse !important;
    }
    .img__wrapper img{
      width:120%;
      padding:0px;
      overflow:inherit;
      margin-top: -45%;
      margin-left: 6%;
      animation:resposive-grow 0.8s;

    }
    .text__wrapper{
      width:90%;
      align-self: center;
      margin-top: -40%;
      margin-left:25%;
    }
    .text__wrapper p{
      font:11px;
    }
    .text__wrapper h1{
      font-size:23px;
    }
    .col-md-6{
      width:320px;
      padding: 0px 0px;
    }
    .row.slide__box{
      margin:0;
    }
  }
</style>

