<div class="dashboard">
  <div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="d-xl-none d-lg-none">Dashboard</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
                routerLink="/dashboard/patient-list"
                routerLinkActive="active">
         <mat-icon>menu</mat-icon>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-divider">Menu</li>
            <li class="nav-item">
              <a class="nav-link"
                 routerLink="/dashboard/patient-list"
                 routerLinkActive="active"
                 data-toggle="collapse"
                 aria-expanded="false"
                 data-target="#submenu-1"
                 aria-controls="submenu-1">
                <mat-icon class="dashboard-icon">account_circle</mat-icon>Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 routerLink="/dashboard/add-patient"
                 routerLinkActive="active"
                 data-toggle="collapse"
                 aria-expanded="false"
                 data-target="#submenu-1"
                 aria-controls="submenu-1">
                <mat-icon class="dashboard-icon">person_add</mat-icon>Add Patient</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>

<div class="tabs">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<style>
  .tabs {
    margin-top: -45px;
    width: 100%;
    padding-left: 265px;
    overflow-x: auto;
   }
  a {
    margin: 10px;
  }
  .content{
    margin-top: 50px;
  }
</style>
